wrt_password:
cloudmqt_password:
netatmo_api_key:
netatmo_password:
netatmo_secret_key:

miley_ip:
sonar_port:
sonar_key:

email:

home_latitude:
home_longitude:

work_latitude:
work_longitude:

cs_latitude:
cs_longitude:

pushbullet_key:
iv_pushbullet:

router_url:

http_pwd:
base_url:
db_string: mysql://user:pass@host/dbname
